/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 2px #555454;
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  z-index: 100;
  overflow: hidden;
}
.logo {
  width: 45%;
  font-family: "Lobster Two", cursive;
}
.logo a {
  font-size: 2rem;
}
.logo a:hover {
  color: red;
}
.logo a span {
  color: red;
  font-size: 1.5rem;
}
.logo a span:hover {
  color: black;
}
nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 50%;
}
nav a {
  padding-top: 1rem;
  text-transform: uppercase;
  font-family: "Lobster Two", cursive;
  margin-left: 1rem;
}
@media (max-width: 800px) {
  nav a {
    display: none;
  }
}
nav a:hover {
  padding-bottom: -1rem;
  margin-bottom: 0;
  border-bottom: 3px solid black;
  color: black;
}
.container {
  height: 70vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/bread.jpg");
  background-position: center;
  background-size: 100% 100%;
  margin: 0 auto;
  transition: height 2s ease;
  background-attachment: fixed;
}
.container .logo {
  position: relative;
  color: white;
  margin: 0 auto;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
@media (max-width: 800px) {
  .container .logo {
    width: 100%;
  }
}
.container .logo p {
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 800px) {
  .container .logo p {
    font-size: 1.5rem;
  }
}
.container .logo h2 {
  font-size: 4rem;
  text-align: center;
  padding-top: 2rem;
}
@media (max-width: 800px) {
  .container .logo h2 {
    font-size: 2.5rem;
    padding-top: 1rem;
  }
}
.container .logo h2 span {
  color: red;
  font-size: 4rem;
}
@media (max-width: 800px) {
  .container .logo h2 span {
    font-size: 2.5rem;
  }
}
.container .logo .welcome {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: sans-serif;
  padding-top: 1rem;
}
@media (max-width: 800px) {
  .container .logo .welcome {
    display: none;
  }
}
.container .logo button {
  padding: 1rem;
  text-transform: uppercase;
  background-color: red;
  outline: none;
  border-radius: 10px;
  text-align: center;
  margin-top: 4rem;
  width: 30%;
  align-self: center;
  box-shadow: 0 2px 2px rgba(17, 17, 17, 0.527);
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}
.container .logo button:hover {
  color: red;
  background-color: white;
  box-shadow: 0 2px 2px rgba(117, 116, 116, 0.863);
}
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin-top: 3rem;
}
@media (max-width: 800px) {
  .main-content {
    flex-direction: column;
  }
}
.main-content .text-content {
  width: 40%;
  z-index: 100;
}
@media (max-width: 800px) {
  .main-content .text-content {
    width: 95%;
    align-self: center;
    margin-bottom: 1rem;
  }
}
.main-content .text-content h4 {
  color: black;
  font-size: 2rem;
  position: relative;
  margin-bottom: 1rem;
}
.main-content .text-content h4::after {
  display: block;
  content: "";
  width: 20%;
  height: 4px;
  background: #b60505;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 800px) {
  .main-content .text-content h4::after {
    width: 30%;
  }
}
.main-content .text-content p {
  color: black;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  line-height: 1.6;
}
@media (max-width: 800px) {
  .main-content .text-content p {
    line-height: 1.4;
    font-size: 0.9rem;
  }
}
.main-content .gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}
@media (max-width: 800px) {
  .main-content .gallery {
    width: 100%;
    align-self: center;
  }
}
.main-content .gallery h4 {
  color: black;
  font-size: 2rem;
  position: relative;
  margin-left: 1rem;
}
.main-content .gallery h4::after {
  display: block;
  content: "";
  width: 55%;
  height: 4px;
  background: #b60505;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 800px) {
  .main-content .gallery h4::after {
    width: 80%;
  }
}
section {
  background-color: rgba(201, 201, 201, 0.486);
  margin: 4rem 2rem;
  padding: 1rem;
  box-sizing: border-box;
}
.how {
  text-align: center;
  color: black;
  font-size: 2rem;
  position: relative;
  margin-left: 1rem;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .how {
    font-size: 1.5rem;
    margin-left: 0;
  }
}
.how::after {
  display: block;
  content: "";
  width: 8%;
  height: 4px;
  background: #b60505;
  position: absolute;
  bottom: 0;
  left: 44.5%;
}
@media (max-width: 800px) {
  .how::after {
    width: 20%;
    left: 37%;
  }
}
.how-to {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 2rem 2rem 4rem;
}
@media (max-width: 800px) {
  .how-to {
    flex-direction: column;
  }
}
.how-to .step {
  width: 30%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  color: #9c1616;
}
@media (max-width: 800px) {
  .how-to .step {
    width: 80%;
    font-size: 1rem;
    padding-bottom: 1rem;
    margin: 1rem auto;
    border-bottom: 2px solid #9c1616;
  }
}
@media (max-width: 800px) {
  .arrow {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-family: "Roboto Slab", serif;
  padding: 1rem;
  color: white;
  text-align: center;
  margin: 0;
  position: relative;
}
footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #380505;
  clip-path: polygon(14% 0, 85% 1%, 100% 31%, 100% 72%, 86% 100%, 14% 100%, 0 76%, 0 31%);
}
footer h2 {
  font-size: 1.5rem;
  display: block;
}
@media (max-width: 800px) {
  footer h2 {
    font-size: 1rem;
  }
}
footer .icons i {
  padding: 0.5rem;
  font-size: 1.5rem;
}
footer .icons i:hover {
  color: #1f0101;
  padding: 0;
}
@media (max-width: 800px) {
  footer .icons i {
    padding: 0.2rem;
  }
}
footer p {
  font-size: 0.8rem;
}
.carousel {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 400px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 800px) {
  .carousel {
    width: 100%;
    height: 300px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: rgba(48, 46, 46, 0.26);
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .carousel .left-button,
  .carousel .right-button {
    font-size: 2.5rem;
  }
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: wheaty;
  background-color: #0f0f0f;
  border: 2px solid grey;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 95%;
  height: 45vh;
  display: none;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .carousel img {
    width: 100%;
    height: 35vh;
  }
}
.carousel .selected {
  display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
