header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 2px #555454;
  display: flex;
  justify-content: baseline;
  z-index: 100;
  overflow: hidden;
}
header .logo {
  width: 45%;
  font-family: 'Pacifico', cursive;
}
header .logo a {
  font-size: 1.5rem;
}
header .logo a span {
  color: red;
  font-size: 1.5rem;
}
header nav {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
header nav a {
  padding-top: 1rem;
  text-transform: uppercase;
}
header nav a:hover {
  box-shadow: 0 2px 2px #1E1014;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: black;
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  padding-bottom: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #ffede1;
  color: #1E1014;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1E1014;
}
.container {
  margin: 5rem auto 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  z-index: 100;
  font-family: "Roboto Slab", serif;
}
.box {
  width: 22%;
  min-height: 40vh;
  margin: 0.8rem;
  box-shadow: 0 2px 2px #c5c5c5;
  z-index: 10;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}
.box .image {
  position: relative;
  width: 100%;
  height: 65%;
}
.box .image:hover .overlay {
  cursor: pointer;
}
.box .image img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}
.box .text {
  width: 90%;
  height: 30%;
  font-size: 0.8rem;
  margin: 0.5rem auto;
  position: relative;
  z-index: 100;
  background-color: #fff;
  overflow: scroll;
}
