footer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-family: "Roboto Slab", serif;
    padding-bottom: 1rem;
    color: white;
    text-align: center;
    margin: 0;
    background-color: #5B1519;

    h2{
        font-size: 2rem;
        display: block;
        @media(max-width: 800px){
            font-size: 1.5rem;
        }
    }
    .icons{
        i{
            padding: .5rem;
            @media(max-width: 800px){
                padding: .2rem;
            }
        }
    }
}